@font-face {
  font-family: "Qanelas";
  src: url('fonts/Qanelas/Qanelas-Light.otf') format("opentype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Qanelas";
  src: url('fonts/Qanelas/Qanelas-Regular.otf') format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Qanelas";
  src: url('fonts/Qanelas/Qanelas-Medium.otf') format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Qanelas";
  src: url('fonts/Qanelas/Qanelas-SemiBold.otf') format("opentype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Qanelas";
  src: url('fonts/Qanelas/Qanelas-Bold.otf') format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Qanelas";
  src: url('fonts/Qanelas/Qanelas-Heavy.otf') format("opentype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Qanelas";
  src: url('fonts/Qanelas/Qanelas-Black.otf') format("opentype");
  font-style: normal;
  font-weight: 900;
}
